In [1]:
print('Hello farid')

Hello farid

In [2]:
name = ['Farid', 'babak', [1, 2, 3, 4]]
print(name)

['Farid', 'babak', [1, 2, 3, 4]]

In [3]:
print(name[2][3])

4

In [4]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9 ,10]
print(number[3:7:2])

[4, 6]

In [5]:
num = list(range(101))
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [6]:
print(num[::2])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [7]:
name = 'hello. my name is. farid. and i have 39 years old'
print(name)
print(type(name))
x = name.split('.')
print(x)
print(type(x))

hello. my name is. farid. and i have 39 years old
<class 'str'>
['hello', ' my name is', ' farid', ' and i have 39 years old']
<class 'list'>

In [8]:
name = 'farid'
age = 24
print(f"hello my name is {name} and i have {age} years old")

hello my name is farid and i have 24 years old

In [10]:
name = input('Waht is your name?\n')
age = input('How old are you?\n')
print(f'Hello {name} you are {age} years old')

Waht is your name?
farid
How old are you?
25
Hello farid you are 25 years old

In [15]:
x = float(input('Pleas enter a number\n'))
print(x**2)

Pleas enter a number
2.4
5.76

In [16]:
number = ['farid', 1,2,3,4,5, 'last']
print(number)

['farid', 1, 2, 3, 4, 5, 'last']

In [17]:
first, *other, last = number
print(first)
print(other)
print(last)

farid
[1, 2, 3, 4, 5]
last

In [23]:
c, n = input("Enter a char and number of time\n").split(',')
n = int(n)
char = c * n
space = ' ' * (n-2)
new_space = f'{c}{space}{c}\n'
result = f'{char}\n{new_space*(n-2)}{char}'
print(result)

Enter z char and number of time
g, 12
gggggggggggg
g          g
g          g
g          g
g          g
g          g
g          g
g          g
g          g
g          g
g          g
gggggggggggg

In [30]:
name = 'farid',
print(type(name))

<class 'tuple'>

In [34]:
person = {
    'name':'farid',
    'age':24
}

print(person)
print(person.keys())
print(person.values())

{'name': 'farid', 'age': 24}
dict_keys(['name', 'age'])
dict_values(['farid', 24])

In [44]:
x = ('farid', 'babak', 1, 3, 4, 2, 2, 2, True, 'farid', 'farid')
print(x.index(2))
print(x.count('farid'))
print(type(x))
print(len(x))
print(x[1])

5
3
<class 'tuple'>
11
babak

In [47]:
number = [1, 2, 3, 4, 5]
print(number)
number[2] = 'farid'
print(number)

[1, 2, 3, 4, 5]
[1, 2, 'farid', 4, 5]

In [52]:
number.pop()
print(number)

[]

In [62]:
pass_user = input('Pleas enter a password\n')
print(len(pass_user) * '*')

Pleas enter a password
dccdd@!fcc
**********

In [59]:
name = input('Pleas ente ryour name\n')
age = input('How old are youe\n')
print(name)
print(age)

Pleas ente ryour name
farid
How old are youe
34
farid
34