# Python Tutorial

## What is Python?

It is used for:

* web development (server-side),
* software development,
* mathematics,
* system scripting.

### Example
print("Hello, World!")

In [1]:
print("hello,world")

hello,world

## Python Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* Text Type:	`str`
* Numeric Types:	`int, float, complex`
* Sequence Types:	`list, tuple, range`
* Mapping Type:	`dict`
* Set Types:	`set, frozenset`
* Boolean Type:	`bool`
* Binary Types:	`bytes, bytearray, memoryview`
* None Type:	`NoneType`

## str

In [2]:
print("hello my name is farid kaki")

hello my name is farid kaki

## Int

In [3]:
print(35667)

35667

## Float

In [4]:
print(17)

17

## Example

* Example	Data Type	
* x = "Hello World"	`str`	
* x = 20	`int`	
* x = 20.5	`float`	
* x = 1j	`complex`	
* x = ["apple", "banana", "cherry"]	`list`	
* x = ("apple", "banana", "cherry")	`tuple`	
* x = range(6)	`range`	
* x = {"name" : "John", "age" : 36}	`dict`	
* x = {"apple", "banana", "cherry"}	`set`	
* x = frozenset({"apple", "banana", "cherry"})	`frozenset`
* x = True	`bool`
* x = b"Hello"	`bytes`	
* x = bytearray(5)	`bytearray`	
* x = memoryview(bytes(5))	`memoryview`	
* x = `None`

## Variables

Variables are containers for storing data values.

### Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

### Example

In [5]:
x = 5
y = "farid"
print(x)
print(y)

5
farid

In [18]:
name = 'amir'
print(name),
print(type(name))

amir
<class 'str'>

In [19]:
number=230
print(number),
print(type(number))

230
<class 'int'>

> Variables do not need to be declared with any particular type, and can even change type after they have been set.

### Example

In [7]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

## Casting
If you want to specify the data type of a variable, this can be done with casting.

### Example

In [8]:
x ='12.6'
z='farid'
type(x)
print(type(z))

<class 'str'>

In [9]:
name = "babak"
print(f'HELLO MY NAME IS {name}')
print(name)

HELLO MY NAME IS babak
babak

In [25]:
name = 'babak'
age = 20
print(f'Hello my name is {name} and i have a {age} years old')

Hello my name is babak and i have a 20 years old

In [26]:
x = 12
y = 3.4
print(x+y)
print(x-y)
print(x*y)
print(x/y)

15.4
8.6
40.8
3.5294117647058822

In [29]:
x=12
y=23
print(x/y)
print(x//y)
print(y%2)

0.5217391304347826
0
1

In [30]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

## Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

### Example
Legal variable names:

In [12]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

## Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

### Camel Case

Each word, except the first, starts with a capital letter:

myVariableName = "John"

### Pascal Case

Each word starts with a capital letter:

MyVariableName = "John"

### Snake Case

Each word is separated by an underscore character:

my_variable_name = "John"

## Python Variables - Assign Multiple Values

Python allows you to assign values to multiple variables in one line:

### Example

In [46]:
x, y, z = "Orange", 34, "Cherry"
print(x)
print(y)
print(z)
print(type(x))
print(type(z))

Orange
34
Cherry
<class 'str'>
<class 'str'>

### One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

### Example

In [42]:
x = y = z = "farid"
print(x)
print(y)
print(z)

farid
farid
farid

## Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

### Example

In [39]:
fruits = ["apple", "banana", "cherry", 'farid', 'amir', 23, True, False]
x, *y= fruits
print(x)
print(y)

apple
['banana', 'cherry', 'farid', 'amir', 23, True, False]

## `Input()`

In [51]:
name = input('What is your name?\n')
print(f'Hello {name}')

What is your name?
amir
Hello amir

In [57]:
x = input('Pleas enter anumber:\n')
y = input('Pleas enter another number:\n')
z = int(x)
w = int(y)
print(z + w)

Pleas enter anumber:
12
Pleas enter another number:
12
24

In [58]:
name = input('Pleas enter your name?\n')
age = input('Pleas enter your age?\n')
print(f'Hello my name is {name} and i have {age} years old')

Pleas enter your name?
babak
Pleas enter your age?
30
Hello my name is babak and i have 30 years old

In [64]:
name = input('Enter your name\n')
result = f'hello {name}\n'
print(result * 5)

Enter your name
fawrid
hello fawrid
hello fawrid
hello fawrid
hello fawrid
hello fawrid