## String Methods
Python has a set of built-in methods that you can use on strings.

* `capitalize()`	Converts the first character to upper case
* `casefold()`	Converts string into lower case
* `center()`	Returns a centered string
* `count()`	Returns the number of times a specified value occurs in a string
* `find()`	Searches the string for a specified value and returns the position of where it was found
* `format()`	Formats specified values in a string
* `join()`	Joins the elements of an iterable to the end of the string
* `lower()`	Converts a string into lower case
* `replace()`	Returns a string where a specified value is replaced with a specified value
* `split()`	Splits the string at the specified separator, and returns a list
* `strip()`	Returns a trimmed version of the string
* `swapcase()`	Swaps cases, lower case becomes upper case and vice versa
* `title()`	Converts the first character of each word to upper case
* `upper()`	Converts a string into upper case

### Example

In [1]:
name = input('Pleas enter your name\n')
print(name.lower())

Pleas enter your name
FARID
farid

In [24]:
txt = 'MY NAME IS FARID KAKI'
print(txt.lower())

my name is farid kaki

In [26]:
txt = "I love apples, apple are my favorite fruit, 2, 2, 2"

x = txt.count("2")

print(x)

3

In [28]:
txt = input('Pleas give me some text\n')
print(txt.count('i'))

Pleas give me some text
my name is farid
2

## Python input() Function
* ExampleGet your own Python Server
####  Ask for the user's name and print it:

In [29]:
print('Enter your name:')
name = input()
print('Hello, ' + name)

Enter your name:
farid
Hello, farid

In [6]:
name = input('Enter your name:\n')
print(f'Hello, {name}')

Enter your name:
farid
Hello, farid

## Python Built in Functions
* `len()`	Returns the length of an object
* `sum()`	Sums the items of an iterator
* `round()`	Rounds a numbers
* `range()`	Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
* `print()`	Prints to the standard output device
* `pow()`	Returns the value of x to the power of y
* `input()`	Allowing user input

### Example

In [30]:
name = input('pleas enter your name\n')
print(len(name))

pleas enter your name
mohammad reza
13

In [31]:
x = list(range(1, 10))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
for i in x :
    print(i)

1
2
3
4
5
6
7
8
9

In [35]:
a = int(input('pleas enter a number for a\n'))
b = int(input('Pleas enter a number for b\n'))
x = pow(a, b)
print(x)

pleas enter a number for a
23
Pleas enter a number for b
2
529

In [36]:
number = 12.344444
print(round(number)), print(round(number, 2))

12
12.34

(None, None)

In [43]:
a = float(input('Pleas enter a number\n'))
b = float(input('Pleas enter a number\n'))
result = a/b
print(round(result, 2))

Pleas enter a number
12
Pleas enter a number
7
1.71

In [12]:
txt = input('Enter Title:\n')
print(len(txt))

Enter Title:
ff
2

In [62]:
num = int(input('Pleas enter a two digit number\n'))
num = num /10
num = str(num)
x1, x2 = num.split('.')
result = int(x1) + int(x2)
print(f'This is your result {result}')

Pleas enter a two digit number
89
This is your result 17

In [58]:
num = list(range(101))
x1, x2, x3, *other = num
x2

1

## Python Lists

### List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

### Example

Create a List:

In [65]:
name = ['farid', 'babak', 'neda', 'zahra']
print(name), print(type(name)), print(len(name))

['farid', 'babak', 'neda', 'zahra']
<class 'list'>
4

(None, None, None)

In [15]:
print(type(my_list))

<class 'list'>

In [16]:
names=['farid', 'reza', 'amir']
number=[1, 2, 3, 4, 5, 6]
compolex = ['farid', 3, 4.9, True, [1, 2, 3, 4]]
print(names)
print(number)
print(compolex)

['farid', 'reza', 'amir']
[1, 2, 3, 4, 5, 6]
['farid', 3, 4.9, True, [1, 2, 3, 4]]

### Example
A list with strings, integers and boolean values:

In [76]:
name = ['farid', 'reza', 'ahmad', 1, 2, 3, True, [22, 33, 44]]
print(name[6])
print(len(name))
print(name[7][0])

True
8
22

In [17]:
my_list = [1,2,3, 'farid', 'babak', 2, True, 19, ['luffy', 12]]
print(my_list[8][0])
print(my_list[3:7])
print(my_list[::2])
print(my_list[-1:])

luffy
['farid', 'babak', 2, True]
[1, 3, 'babak', True, ['luffy', 12]]
[['luffy', 12]]

In [82]:
matrix = [[[1, 2, 3], [4, 5, 6], [7, 8, 9]]]
print(matrix[0][1][2])

6

In [18]:
number = 24.888888888
print(round(number, 2))

24.89

In [19]:
number= 12
print(number ** 4)

20736

In [83]:
my_list = [1, 2, 3, 4, 5, 6, 7]
print(my_list * 2)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [93]:
num = list(range(101))
print(num[10:101:5])

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [84]:
for item in my_list:
    print(item * 2)

2
4
6
8
10
12
14

In [98]:
weight = float(input('how much do you weight?\n'))
height = float(input('how tall are you?\n'))
result = weight/(height * height)
print(f'this is your BMI ...:{result * 100}')

how much do you weight?
78
how tall are you?
178
this is your BMI ...:0.24618103774775912