# List Methods
Python has a set of built-in methods that you can use on lists.

* `append()`	Adds an element at the end of the list
*`clear()`	Removes all the elements from the list
* `copy()`	Returns a copy of the list
* `count()`	Returns the number of elements with the specified value
* `extend()`	Add the elements of a list (or any iterable), to the end of the current list
* `index()`	Returns the index of the first element with the specified value
* `insert()`	Adds an element at the specified position
* `pop()`	Removes the element at the specified position
* `remove()`	Removes the item with the specified value
* `reverse()`	Reverses the order of the list
* `sort()`	Sorts the list

## Example

> Adds an element at the end of the list

In [1]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [10]:
name = ['farid', 'ali']
name.append(True)
name.append(100)
name.append('text')
print(name)

['farid', 'ali', True, 100, 'text']

In [11]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [5]:
num = [[1,2,3], [4, 5, 6]]
print(num)
print(len(num))
print(num[0][2])

[[1, 2, 3], [4, 5, 6]]
2
3

In [ ]:
num

In [13]:
name = ['farid', 'babak', 'neda']
name.insert(0, 'ali')
print(name)

['ali', 'farid', 'babak', 'neda']

In [14]:
number = list(range(2,100))
number.insert(10, 'Add')
print(number)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'Add', 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [3]:
x = []
print(x)
x.append(12)
x.append('farid')
x.append(True)
print(x)

[]
[12, 'farid', True]

## `insert()` 
> Adds an element at the specified position

## Example

In [7]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

## `pop()`
> Removes the element at the specified position

## Example

In [21]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)
fruits.pop(1)
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'cherry']

## `remove()`

> Removes the item with the specified value

## Example

In [6]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [22]:
name = ['ali', 'reza', True, 1, 2, 3, 4]
name.remove(2)
print(name)

['ali', 'reza', True, 1, 3, 4]

## `sort()`

> Sort the list

## Example

In [27]:
cars = ['Bmrd', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Bmrd', 'Volvo']

In [30]:
number = [10, 34, 2, 14, 1, 12, 23]

number.sort(reverse=True)
# number.reverse()

print(number)

[34, 23, 14, 12, 10, 2, 1]

In [37]:
name = ['farid', 'ali', 'babak']
print(name[0])
name[0] = 'reza'
name[0]= 'Reza'
print(name)

farid
['Reza', 'ali', 'babak']

In [59]:
name = ['farid', 'ali', 'neda']
x, y, z = name
print(x)
print(z)
print(y)
print(name)

farid
neda
ali
['farid', 'ali', 'neda']

In [64]:
num = list(range(100))
x, *y, z = num
print(x)
print(*y)
print(z)

0
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98
99

## Boolean Values
* In programming you often need to know if an expression is `True` or `False`.

* You can evaluate any expression in Python, and get one of two answers, `True` or `False`.

* When you `compare` two values, the expression is evaluated and Python returns the `Boolean` answer:

## Example

In [9]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

## Python Tuples

* Tuples are used to store multiple items in a single variable.

* `Tuple` is one of 4 `built-in data types` in Python used to store collections of data, the other 3 are `List`, `Set`, and `Dictionary`, all with different qualities and usage.

* A `tuple` is a collection which is ordered and unchangeable.

* `Tuples` are written with round brackets.

In [41]:
fruits= ("apple",)
print(fruits)
print(type(fruits))

('apple',)
<class 'tuple'>

## Tuple Length
To determine how many items a tuple has, use the `len()` function:

## Example

In [11]:
point1=(12,)
print(type(point1))

<class 'tuple'>

In [47]:
thistuple = ("apple", "banana", "cherry", 1, 2, 3, 3, 3, 3, 3, 3, 3)
print(len(thistuple))
print(thistuple)
print(thistuple[2::1])

12
('apple', 'banana', 'cherry', 1, 2, 3, 3, 3, 3, 3, 3, 3)
('cherry', 1, 2, 3, 3, 3, 3, 3, 3, 3)

In [51]:
name = ('farid', 'babak', 'reza')
name = list(name)
name[0] = 'ali'
name = tuple(name)
print(name)

('ali', 'babak', 'reza')

## Create Tuple With One Item
> To create a `tuple` with only one item, you have to add a `comma` after the item, otherwise Python will not recognize it as a tuple.

## Example

In [13]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Access Tuple Items
> You can access `tuple` items by referring to the index number, inside square brackets

In [14]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

## Change Tuple Values
* Once a `tuple` is created, you cannot change its values. `Tuples` are unchangeable, or `immutable` as it also is called.

* But there is a workaround. You can `convert` the tuple into a list, change the list, and convert the list back into a tuple.

## Example

In [17]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## Add Items
Since tuples are immutable, they do not have a built-in `append()` method, but there are other ways to add items to a tuple.

1. **Convert into a list**: Just like the workaround for changing a `tuple`, you can convert it into a list, add your item(s), and convert it back into a `tuple`.

## Example

In [18]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Tuple Methods
Python has two built-in methods that you can use on tuples.

* `count()`	Returns the number of times a specified value occurs in a tuple
* `index()`	Searches the tuple for a specified value and returns the position of where it was found

## Example

In [54]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(8)

print(x)

2

In [57]:
name = (1, 3, 7, 'farid', 7, 5, 4, 6, 8, 5)
print(name.index(7))

2

In [81]:
c, n = input('Enter a char and number of time?\n').split(',')
n = int(n)
char = c * n
space = ' ' * (n-2)
new_space = f'{c}{space}{c}\n'
result = f'{char}\n{new_space*(n-2)}{char}'
print(result)

Enter a char and number of time?
&,4
&&&&
&  &
&  &
&&&&

In [95]:
c, x = input('Pleas enter a char and number of time\n').split()
x=int(x)
char = c * x
space = (x-2)*' '
new_space = f'{c}{space}{c}\n'
result = f'{char}\n{new_space*(x-2)}{char}' 
print(result)

Pleas enter a char and number of time
* 9
*********
*       *
*       *
*       *
*       *
*       *
*       *
*       *
*********

In [ ]:
import random
print('WELCOME TO \"ROCK \" ,  \"PAPER \" , \"SCISSORS \" \n')




gam_is_on = True

while gam_is_on:
    choice = input(
     'What do you want to choose????\n type \"1\" for \"ROCK âœŠ\"  , \"2\" for \"PAPER âœ‹\" , \"3\" for \"SCISSORS âœŒ\" \n')
    your_choose = int(choice)
    ai_choose = random.randint(1, 3)
    if your_choose == 1 and ai_choose == 3:
        print('YOU CHOOSE : ROCK âœŠ')
        print('AI CHOOSE : SCISSORS âœŒ')
        print('YOU WIN ðŸ¥³!!!')
    elif your_choose == 2 and ai_choose == 1:
        print('YOU CHOOSE : PAPER âœ‹')
        print('AI CHOOSE : ROCK âœŠ')
        print('YOU WIN ðŸ¥³!!!')
    elif your_choose == 3 and ai_choose == 2:
        print('YOU CHOOSE : SCISSORS âœŒ')
        print('AI CHOOSE : PAPER âœ‹')
        print('YOU WIN ðŸ¥³!!!')
    elif your_choose == 3 and ai_choose == 1:
        print('YOU CHOOSE : SCISSORS âœŒ')
        print('AI CHOOSE : ROCK âœŠ')
        print('YOU LOSS ðŸ˜©!!!')
    elif your_choose == 1 and ai_choose == 2:
        print('YOU CHOOSE : ROCK âœŠ')
        print('AI CHOOSE : PAPER âœ‹')
        print('YOU LOSS ðŸ˜©!!!')
    elif your_choose == 2 and ai_choose == 3:
        print('YOU CHOOSE : PAPER âœ‹')
        print('AI CHOOSE : SCISSORS âœŒ')
        print('YOU LOSS ðŸ˜©!!!')
    elif your_choose == 1 and ai_choose == 1:
        print('YOU CHOOSE : ROCK âœŠ')
        print('AI CHOOSE : ROCK âœŠ')
        print('DRAW ðŸ˜•!!!')
    elif your_choose == 2 and ai_choose == 2:
        print('YOU CHOOSE : PAPER âœ‹')
        print('AI CHOOSE : PAPER âœ‹')
        print('DRAW ðŸ˜•!!!')
    elif your_choose == 3 and ai_choose == 3:
        print('YOU CHOOSE : SCISSORS âœŒ')
        print('AI CHOOSE : SCISSORS âœŒ')
        print('DRAW ðŸ˜•!!!')
    gam_continue = input('Do You Want To Continue ðŸ™„? Type "Y" Or "N"')
    if gam_continue == 'n':
        print('Have A Nice Day ðŸ¤ª')
        gam_is_on = False

In [100]:
name = {}

<class 'dict'>
<class 'list'>