# Python Sets

> `myset = {"apple", "banana", "cherry"}`

## Set
* Sets are used to store multiple items in a single variable.

* Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

* A set is a collection which is unordered, unchangeable*, and unindexed.

## Example
Create a Set:

In [1]:
n = int(input('Pleas enter a number\n'))
x = n /10
x = str(x)
x1, x2 = x.split('.')
print(int(x1) + int(x2))

Pleas enter a number
45
9

In [3]:
fruits = {"apple", "banana", "cherry"}
print(fruits)
print(type(fruits))

{'cherry', 'banana', 'apple'}
<class 'set'>
{'reza', 'ali', 'ahmad'}
<class 'set'>

In [6]:
my_list = [1, 2, 3, 4, 'farid', True]
x1,x2, *x3= my_list
print(x3)
print(x2)
print(x1)

[3, 4, 'farid', True]
2
1

In [9]:
name, age = input('Pleas enter your name and how old are you\n').split()
print(name)
print(age)

Pleas enter your name and how old are you
farid 89
farid
89

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {'farid', True, 23}
print(set1)
print(set2)
print(set3)
print(set4)

{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}
{'farid', True, 23}

## Python Collections (Arrays)
There are four collection data types in the Python programming language:

* `List` is a collection which is ordered and changeable. Allows duplicate members.
* `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.
* `Set` is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* `Dictionary` is a collection which is ordered** and changeable. No duplicate members.
## Example
True and 1 is considered the same value:

In [5]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

## Access Items
> You cannot access items in a set by referring to an index or a key.

> But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

## Example
Check if "banana" is present in the set:

In [12]:
feruits = {"apple", "banana", "cherry"}

print('banana' in feruits)

True

In [7]:
name = input('Pleas enter your name\n')
n = int(input('How much do you wnat repid your name\n'))
result = f'Hello {name}\n'
print(result * n)

Pleas enter your name
56
How much do you wnat repid your name
56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56
Hello 56

In [18]:
# print(thisset[0]) # you can't do this
print(34))

SyntaxError: unmatched ')' (3758100835.py, line 2)

# Add Items

## Example
To add one item to a set use the `add()` method.

In [9]:
names = {'farid', 'ahamd', 'reza'}
print(names),
names.add('Python')
print(names)

{'farid', 'reza', 'ahmd'}
{'farid', 'Python', 'reza', 'ahmd'}

## Add Sets
To add items from another set into the current set, use the `update()` method.

## Example

In [16]:
name = {'farid'}
add_item = input('pleas enter some name\n')
name.add(add_item)
print(name)

pleas enter some name
reza
{'farid', 'reza'}

In [10]:
names = {"farid", "ahmad", "reza"}
add_set = {"pineapple", "mango", "papaya"}
print(names)
names.update(add_set)
print(names)

{'farid', 'ahmad', 'reza'}
{'farid', 'ahmad', 'reza', 'pineapple', 'papaya', 'mango'}

In [11]:
x = {1, 2, 3, 4}
n = {'farid', 'mobin'}
x.update(n)
print(x)

{'farid', 1, 2, 3, 4, 'mobin'}

## Remove Item
To remove an item in a set, use the `remove()`, or the `discard()` method.

### Example

In [12]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
thisset.remove("banana")
print(thisset)

{'apple', 'cherry', 'banana'}
{'apple', 'cherry'}

In [13]:
x = {'Farid', 'babak', 'reza'}
x.remove('Farid')
print(x)

{'reza', 'babak'}

# `Discard()`

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

# `Pop()`

In [20]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

#  `clear()`

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

# `Del`

In [17]:
thisset = {"apple", "banana", "cherry"}

# del thisset

print(thisset)

{'apple', 'cherry', 'banana'}

## Example
The `union()` method returns a new set with all items from both sets:

In [18]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

## Method	                      Description
* `add()`	                      Adds an element to the set
* `clear()`	                      Removes all the elements from the set
* `copy()`	                      Returns a copy of the set
* `difference()`	              Returns a set containing the difference between two or more sets
* `difference_update()`	          Removes the items in this set that are also included in another, specified set
* `discard()`	                  Remove the specified item
* `intersection()`	              Returns a set, that is the intersection of two other sets
* `intersection_update()`	      Removes the items in this set that are not present in other, specified set(s)
* `isdisjoint()`	              Returns whether two sets have a intersection or not
* `issubset()`	                  Returns whether another set contains this set or not
* `issuperset()`	              Returns whether this set contains another set or not
* `pop()`	                      Removes an element from the set
* `remove()`	                  Removes the specified element
* `symmetric_difference()`	      Returns a set with the symmetric differences of two sets
* `symmetric_difference_update()` inserts the symmetric differences from this set and another
* `union()`	                      Return a set containing the union of sets
* `update()`	                  Update the set with the union of this set and others

## Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

### Example
Create and print a dictionary:

In [25]:
person = {
    'name': 'farid',
    'age': 29
}

print(person)
print(person.keys())
print(person.values())
print(person.items())

{'name': 'farid', 'age': 29}
dict_keys(['name', 'age'])
dict_values(['farid', 29])
dict_items([('name', 'farid'), ('age', 29)])

In [19]:
my_car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(my_car)
print(f'this is my_car values:', my_car.values())
print(f'this ia my_car kes:', my_car.keys())

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
this is my_car values: dict_values(['Ford', 'Mustang', 1964])
this ia my_car kes: dict_keys(['brand', 'model', 'year'])

In [27]:
person = {
    'first_name':'farid',
    'last_name':'kaki',
    'phon_number':'0981838464',
    'age':24
}
print(person)
print(person.keys())
print(person.values())
print(person['phon_number'])
print(person['first_name'])

{'first_name': 'farid', 'last_name': 'kaki', 'phon_number': '0981838464', 'age': 24}
dict_keys(['first_name', 'last_name', 'phon_number', 'age'])
dict_values(['farid', 'kaki', '0981838464', 24])
0981838464
farid

## Dictionary Items
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [21]:
print(my_car['model'])
print(my_car['year'])
x = my_car.get("brand")
print(x)

Mustang
1964
Ford

## Dictionary Items - Data Types
The values in dictionary items can be of any data type:

### Example

In [22]:
my_cars = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(my_cars)
print(len(my_cars))
print(type(my_cars))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
4
<class 'dict'>

# `Dict()`

In [28]:
person = dict(name = "John", age = 36, country = "Norway")
print(person)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [30]:
person = {
    'name':'farid',
    'age':29
}

print(person)
person['Phon_number'] = '099887766e8'
print(person)

{'name': 'farid', 'age': 29}
{'name': 'farid', 'age': 29, 'Phon_number': '099887766e8'}

## Example
Add a new item to the original dictionary, and see that the keys list gets updated as well:

In [24]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(car)
x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

## Change the `values`

In [25]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(car)

car["year"] = 2020

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

## Get Items
The items() method will return each item in a dictionary, as tuples in a list.

### Example

In [26]:
person = {
   'name':'farid',
    'age':29
}

print(person)
print(person.items())

{'name': 'farid', 'age': 29}
dict_items([('name', 'farid'), ('age', 29)])

In [27]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

## Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [35]:
password = input('Please enter your password\n')
result = len(password)* '*'
print(f'this is your pass: {result}')

Please enter your password
sdj2930
this is your pass: *******